{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addInfo.css' %}?ver=5">
{% endblock %}

{% block contents %}
<div class="inner">
    <div class="title">이용약관</div>
    <pre class="text">
영업비서 GAOBT 이용약관
본 약관은 2022년 11월 30일부터 적용됩니다. (버전번호 : v1.0)
<div class="subject">제1조 목적</div>
본 약관은 ㈜유리스(YOURIS)(이하 "회사")가 제공하는 서비스의 이용과 관련하여, 회사와 서비스 이용자와의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다. 본 약관은 PC 통신, 스마트폰(안드로이드폰, 아이폰 등) 앱, TV 등 이용 고객의 서비스 이용 방식의 변경에도 불구하고 그 성질에 반하지 않는 한 준용됩니다.
<div class="subject">제2조 약관의 게시와 효력, 개정</div>
① 회사는 본 약관의 내용을 서비스 홈페이지 또는 이동통신형 단말기를 통하여 구현된 서비스 화면에 게시하거나 기타의 방법으로 이용자에게 게시합니다.
② 회사는 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제등에 관한 법률』, 『전자문서 및 전자거래기본법』, 『전자서명법』, 『정보통신망 이용촉진 등에 관한 법률』, 『소비자기본법』 등 관련법에 위배되지 않는 범위에서 본 약관을 변경할 수 있으며, 약관을 변경할 때에는 곧바로 전 항과 같은 방법으로 변경 15일 전에 공지합니다. 다만, 회원의 권리를 제한하거나 회원에게 의무를 부과하는 것 등 회원에게 불리한 중요규정을 변경할 때에는 변경 30일 전에 위 방법으로 공지하거나 통지합니다.
③ 회원은 회사가 전항에 따라 변경하는 약관에 동의하지 않을 권리가 있으며, 이 경우 회원은 회사에서 제공하는 서비스 이용 중단 및 탈퇴 의사를 표시하고 서비스 이용 종료를 요청할 수 있습니다. 다만, 회사가 제2항에 따라 변경된 약관을 공지하거나 통지하면서 회원에게 약관 변경 적용일까지 거부의사를 표시하지 않으면 약관의 변경에 동의한 것으로 간주한다는 내용을 공지하거나 통지하였음에도 회원이 명시적으로 약관 변경에 대한 거부 의사를 표시하지 않는다면 회원이 변경된 약관에 동의한 것으로 간주합니다.
<div class="subject">제3조 약관의 해석과 예외 준칙</div>
① 회사는 제공하는 개별 서비스 및 기능을 제공함에 있어 필요하다고 판단되는 경우 별도의 추가적인 이용약관 및 정책을 둘 수 있으며, 해당 내용이 이 약관과 상충할 경우 개별 서비스의 이용약관을 우선하여 적용합니다.
② 본 약관에 명시되지 않은 사항이 관계법령에 규정되어 있을 경우에는 해당 규정에 따릅니다.
<div class="subject">제4조 용어의 정의</div>
① 서비스: 개인용 컴퓨터(PC), TV, 휴대형 단말기, 전기통신설비 등 포함 각종 유무선 장치와 같이 구현되는 단말기와 상관없이 회원이 이용할 수 있는 회사가 제공하는 제반 서비스를 의미합니다. 회사는 보험 고객 연결 서비스를 제공합니다. 
② 회원: 회원은 회사와 서비스 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 모든 사용자를 의미합니다. 
③ 아이디: 회원의 식별 및 서비스 이용을 위하여 회원이 선정하고 회사가 부여한 문자 및 숫자의 조합을 의미합니다.
④ 비밀번호: 회원의 개인 정보 및 확인을 위해서 회원이 정한 문자 또는 숫자의 조합을 의미합니다.
⑤ 유료서비스: 회사가 유료로 제공하는 수수료가 포함된 고객 연결 서비스를 의미합니다.
⑥ 보험상품: 보험업법 제2조에 정의된 내용을 의미합니다.
⑦ 보험회사: 보헙업법에 따라 허가를 받은 보험업을 경영하는 자를 의미합니다.
⑧ 보험정보: 고객이 가입한 보험상품에 관한 상세정보(보험회사, 보험료, 보험계약상태, 보장항목, 보험기간 등 보험 상품에 관한 정보 일체)를  의미합니다.
⑨ 모집종사자: 보험업법 제83조에 기재된 보험설계사, 보험대리점, 보험중개사 등을 의미합니다.
<div class="subject">제5조 이용계약의 성립</div>
① 이용계약은 "회원"이 "회원 또는 비회원"의 "보험정보"를 "회사"가 제공하는 "영업비서 GABOT 플랫폼"을 통해 수집하고 분석하기 위해서 "회원 또는 비회원"은 "영업비서 GABOT 플랫폼" 이용 약관의 내용에 동의를 하고, "회사"는 "회원 또는 비회원"이 동의한 내용을 바탕으로 "영업비서 GABOT 플랫폼"을 통해 고객을 연결하는데 동의함으로써 체결됩니다.
② "회원 및 비회원"은 "영업비서 GABOT 플랫폼"을 통해서 열람된 본인의 “설계사 정보”를 본 약관에 따른 "서비스"를 제공하기 위한 목적으로 "회사"에 제공하며, "회원" 또는 "회사"가 "회원 및 비회원"의 "설계사 정보"를 수집/분석/활용 하는데 동의합니다.
③ "회사"는 "회원 및 비회원"의 "설계사 정보"를 사용자의 사전 동의 없이 제3자에게 제공하지 않습니다.
④ 회사는 이용 약관에 동의한 후 이용신청한 사용자에 대해서 원칙적으로 접수 순서에 따라 서비스 이용을 승낙함을 원칙으로 합니다. 다만, 업무 수행상 또는 기술상 지장이 있을 경우 일정시간 가입승인을 유보할 수 있습니다.
⑤ 회사는 다음 각 호에 해당하는 신청에 대해서 승낙하지 않거나 사후에 이용계약을 해지할 수 있습니다.
- 가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우
- 실명이 아니거나 타인의 명의를 이용한 경우
- 제3자의 정보(전자우편, 휴대폰 번호 등)를 이용하여 신청한 경우
- 허위의 정보를 기재하거나, 회사가 필수적으로 입력을 요청한 부분을 기재하지 않은 경우
- 이미 가입한 회원과 휴대폰 번호나 전자우편주소가 동일한 경우
- 부정한 용도로 서비스를 사용하거나 회사가 허락하지 않는 영리를 추구할 목적으로 본 서비스를 이용하고자 하는 경우
- 이용자의 귀책사유로 인하여 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우
- 회사의 정책에 적합하지 않는 회원으로 판단되는 경우나 서비스 제공이 곤란한 경우
- 회원의 이용 목적이나 서비스 이용 방법이 회사의 재산권이나 영업권을 침해하거나 침해할 우려가 있는 경우
- 비정상적인 방법을 통하여 아이디 및 도메인을 대량으로 생성하는 행위
⑥ 회사는 회원의 실명을 확인하기 위해 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다. 또한, 휴대폰 번호 / 메일주소를 확인하기 위해 수신확인 절차를 요청할 수 있습니다.
⑦ 회원은 회사에 언제든지 회원 탈퇴를 요청하여 이용계약을 해지할 수 있습니다.
⑧ 회원은 회원 가입 시 기재한 정보의 내용에 변경이 발생한 경우, 즉시 변경사항을 정정하여 기재하여야 합니다. 변경의 지체로 인하여 발생한 회원의 손해에 대해 회사는 책임을 지지 않습니다.
⑨ 회사는 관련 법률 및 회사의 개인정보 수집 및 이용 약관에서 정한 바에 따라 회원에게 요청하는 회원정보 및 기타정보 항목을 추가, 삭제 등 변경하여 수집 및 이용할 수 있습니다.
<div class="subject">제6조 개인정보보호 의무</div>
① 회사는 정보통신망법 등 관계 법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법 및 회사의 개인정보 수집 및 이용 약관이 적용됩니다.
② 회사는 서비스를 중단하거나 회원이 개인정보 제공 동의를 철회한 경우에는 신속하게 회원의 개인정보를 파기합니다. 단, 전자상거래 등에서의 소비자 보호에 관한 법률 등 관련 법률에서 정하는 바에 따라 일정 정보는 보관할 수 있습니다.
③ 회사에서 제공하는 공식 사이트 이외의 링크된 사이트에서는 회사의 개인정보 수집 및 이용 약관이 적용되지 않습니다. 링크된 사이트에서 제공하는 서비스의 개인정보 취급 방침과 관련해서는 해당 사이트의 개인정보 취급 방침을 확인할 책임이 회원에게 있으며, 회사는 이에 대하여 책임을 부담하지 않습니다.
④ "회원 및 비회원"은 자신이 본 이용 약관에 기반하여 "회원 및 회사"에 제공한 "설계사 정보"에 대해 삭제를 요청할 수 있습니다.
<div class="subject">제7조 개인정보의 제공, 위탁</div>
① 회사는 수집된 개인정보의 취급 및 관리 등의 업무를 스스로 수행함을 원칙으로 하나, 필요한 경우 업무의 일부 또는 전부를 회사가 선정한 회사에 위탁할 수 있습니다.
② 회사는 회원의 정보를 본 서비스를 제공하기 위한 목적 이외의 용도로 사용하거나 회원의 동의 없이 제3자에게 제공하지 않습니다. 단, 다음의 경우는 예외로 합니다.
- 통계작성, 학술연구, 시장조사, 데이터분석에 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우
- 서비스 이용에 따른 제휴사와의 대금 정산을 위하여 필요한 경우
- 법령이 회원의 개인정보의 이용과 제 3자에 대한 정보제공을 허용하는 경우
<div class="subject">제8조 회원의 아이디 및 비밀번호</div> 
① 회원은 아이디와 비빌번호에 관해서 관리 책임이 있으며, 소셜로그인(페이스북, 카카오톡, 네이버 등의 소셜 서비스 기반의 로그인) 기능을 이용할 경우 해당 소셜 계정에 대한 관리 책임이 있습니다.
② 회원은 아이디 및 비멀번호를 비롯하여 본 서비스를 이용할 수 있는 계정 정보를 제3자가 이용하도록 제공하여서는 안됩니다.
③ 회사는 회원이 아이디 및 비밀번호를 소홀히 관리하여 발생하는 서비스 이용상의 손해 또는 회사의 고의 또는 중대한 과실이 없는 제3자의 부정이용 등으로 인한 손해에 대해 책임을 지지 않습니다.
④ 회원은 자신의 계정이 도용되거나 제3자가 사용하고 있음을 인지한 경우에는 이를 즉시 회사에 통지하고 회사의 안내에 따라야 합니다.
<div class="subject">제9조 회사의 의무</div> 
① 회사는 계속적이고 안정적인 서비스의 제공을 위하여 최선을 다하여 노력합니다.
② 회사는 회원이 안전하게 서비스를 이용할 수 있도록 현재 인터넷 보안기술의 발전수준과 회사가 제공하는 서비스의 성격에 적합한 보안 시스템을 갖추고 운영해야 합니다.
③ 회사는 서비스를 이용하는 회원으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우를 이를 처리하여야하 합니다. 이때 처리과정에 대해서 고객에게 메일, 게시판, 전화, 문자메시지 등의 방법으로 전달합니다.
④ 회사는 정보통신망 이용촉진 및 정보보호에 관한 법률, 통신비밀보호법, 전기통신사업법 등 서비스의 운영, 유지와 관련 있는 법규를 준수합니다.
⑤ 회사는 서비스와 관련하여 회원의 사전 동의 없이 회원 전체 또는 일부의 개인정보를 특정 회원의 정보를 식별할 수 없는, 통계자료로 작성하여 이를 사용 및 제공할 수 있습니다.
<div class="subject">제10조 회원의 의무</div> 
① 회원은 다음 각호에 해당하는 행위를 해서는 안됩니다.
- 서비스 신청 또는 변경 시 허위내용의 등록
- 회사에 게시된 정보의 허가 받지 않은 변경
- 회사가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시
- 회사 또는 제3자의 저작권 등 지적 재산권에 대한 침해
- 회사 또는 제3자의 명예를 손상시키거나 업무를 방해하는 행위
- 외설 또는 폭력적인 메시지, 화상, 음성 기타 공공질서 미풍양속에 반하는 정보를 서비스에 공개 또는 게시하는 행위
- 고객센터 상담 내용이 욕설, 폭언, 성희롱 등에 해당하는 행위
- 할인쿠폰, 제휴 혜택, 포인트를 부정하게 적립하거나 사용하는 등의 행위
- 허위 주문, 허위 리뷰작성 등을 통해 서비스를 부정한 목적으로 이용하는 행위
- 자신의 ID, PW를 제3자에게 양도하거나 대여하는 등의 행위
- 정당한 사유 없이 당사의 영업을 방해하는 내용을 기재하는 행위
- 리버스엔지니어링, 디컴파일, 디스어셈블 및 기타 일체의 가공행위를 통하여 서비스를 복제, 분해 또 모방 기타 변형하는 행위
- 자동 접속 프로그램 등을 사용하는 등 정상적인 용법과 다른 방법으로 서비스를 이용하여 회사의 서버에 부하를 일으켜 회사의 정상적인 서비스를 방해하는 행위
- 기타 관계법령에 위반된다고 판단되는 행위
② 회사는 회원이 전항에서 금지한 행위를 하는 경우, 위반 행위의 경중에 따라 서비스의 이용정지/계약의 해지 등 서비스 이용 제한, 수사 기관에의 고발 조치 등 합당한 조치를 취할 수 있습니다.
③ 회원은 관계법, 이 약관의 규정, 이용안내 및 서비스와 관련하여 공지한 주의사항, 회사가 통지하는 사항 등을 준수하여야 하며, 기타 회사의 업무에 방해되는 행위를 하여서는 안 됩니다.
④ 회원은 회사의 사전 허락 없이 회사가 정한 이용 목적과 방법에 반하여 영업/광고활동 등을 할 수 없고, 회원의 서비스 이용이 회사의 재산권, 영업권 또는 비즈니스 모델을 침해하여서는 안됩니다.
⑤ 회사는 회원 개인 혹은 불특정 다수 회원에게 회원의 위반 행위에 대해 통지할 때는 해당 내용을 서비스 화면에 공지함으로써 회원에게 전달합니다.
<div class="subject">제11조 서비스의 제공 및 변경</div>    
① 회사는 회원에게 아래와 같은 서비스를 제공합니다.
- 영업비서 GABOT: 보험 고객, 설계사 중개 연결 서비스
- 회사가 보유한 기술과 데이터를 활용하여 데이터 기반의 서비스, 오픈API, SDK 기반 서비스
- 기타 회사가 추가 개발하거나 다른 회사와의 제휴계약 등을 통해 회원에게 제공하는 일체의 서비스
② 회사는 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 서비스의 제공을 일시적으로 중단할 수 있습니다. 이 경우 회사는 회원에게 공지사항 게시판 및 메일 등의 방법으로 통지합니다. 다만, 회사가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.
③ 회사는 서비스 제공과 관련한 회사 정책의 변경 등 기타 상당한 이유가 있는 경우 등 운영상, 기술상의 필요에 따라 제공하고 있는 서비스의 전부 또는 일부를 변경 또는 중단할 수 있습니다.
④ 회사는 회원과 별도로 서면 계약을 체결하여 회사가 제공하는 서비스의 브랜드 특성을 이용할 수 있는 명시적인 권리를 부여하지 아니하는 한, 회원에게 회사 또는 서비스의 상호, 상표, 서비스표, 로고, 도메인 네임 및 기타 식별력 있는 브랜드 특성을 이용할 수 있는 권리를 부여하지 않습니다.
⑤ 회사가 제공하는 서비스의 형태와 기능, 디자인 등 필요한 경우 수시로 변경되거나, 중단될 수 있습니다. 회사는 이 경우 개별적인 변경에 대해서 회원에게 사전 통지하지 않습니다. 다만, 회원에게 불리한 것으로 판단되는 경우 전자우편, 공지사항, 푸시 알림 등을 통하여 이를 회원에게 공지합니다.
⑥ 전항에 의해서 제공되는 서비스가 변경 및 중단될 경우 무료로 제공되는 서비스에 대해서는 회원에게 별도로 보상하지 않습니다.
<div class="subject">제12조 광고의 게제</div>    
① 회사는 본 서비스 운영과 관련한 각종 정보 및 광고를 서비스 화면에 게재할 수 있습니다. 또한, 고객이 직접 입력하거나, 회원이 본 서비스를 이용하는 과정에서 발생하는 데이터를 활용하여 고객별 맞춤 정보 및 맞춤 광고를 게재할 수 있습니다.
② 회사는 서비스상에 게재되어 있거나 서비스를 통한 광고주의 판촉활동에 회원이 참여하거나 교신 또는 거래를 함으로써 발생하는 손실과 손해에 대해 책임을 지지 않습니다.
<div class="subject">제13조 전자우편/문자메시지/텔레마케팅/스마트폰을 통한 정보의 제공</div>    
① 회사는 회원이 서비스 이용에 필요하다고 인정되는 다양한 정보를 회원이 제공한 전자우편, 문자메시지, 스마트폰으로 제공할 수 있습니다.
② 회사는 서비스 운영을 위해 회원정보를 활용하여 영리목적의 광고성 정보를 전송할 수 있습니다. 회원이 이를 원하지 않는 경우에는 언제든지 서비스 홈페이지 또는 서비스 설정페이지 등을 통하여 수신거부를 할 수 있습니다.
③ 회사는 다음 각호에 해당하는 경우 회원의 동의여부와 상관없이 관련 정보를 발송할 수 있습니다.
- 이용 신청에서 입력한 전자우편이나 휴대폰번호의 소유를 확인하기 위해서 인증 정보를 발송하는 경우
- 회원의 정보가 변경되어 확인하기 위해서 인증 정보를 발송하는 경우
- 유료 서비스 이용, 결제, 상품 결제, 상품 신청 등과 관련된 정보를 발송하는 경우
- 기타 서비스를 제공함에 있어 회원이 반드시 알아야 하는 중대한 정보라고 회사가 판단하는 경우
<div class="subject">제14조 서비스 이용의 제한</div>    
① 회사는 천재지변이나 국가비상사태, 해결이 곤란한 기술적 결함 또는 서비스 운영의 심각한 변화 등 불가항력적인 경우가 발생 또는 발생이 예상될 때는 서비스의 전부 또는 일부를 예고 없이 제한하거나 중지할 수 있습니다.
② 서비스를 이용하게 됨으로써 서비스 영역에서 발생하는 회원 사이의 문제에 대해 회사는 책임을 지지 않습니다.
③ 회원의 관리 소홀로 인하여 ID 및 비밀번호의 유출로 인해 회원에게 서비스 이용상의 손해가 발생하거나 제3자에 의한 부정이용 등으로 회원의 의무조항을 위반한 경우 ID및 해당 도메인의 이용이 제한될 수 있습니다.
④ 회사가 본 약관 제9조의 위반 행위를 조사하는 과정에서 당해 회원 ID및 도메인이 특정 위반행위에 직접적으로 관련되어 있는 경우 등 다른 회원의 권익 보호 및 서비스의 질서유지를 위해 불가피할 경우에는 해당 ID 및 도메인의 이용을 일시적으로 정지할 수 있습니다. 이에 대해 회원은 서비스 홈페이지 또는 전자 우편 등을 통해 이의신청을 할 수 있습니다.
⑤ 제5조에 따른 요건을 충족하지 못하는 "회원 및 비회원"은 본 약관에 따른 "서비스"를 제공받지 못할 수 있으며, "한국신용정보원"의 인증 정책 및 기술적인 제약 사유가 발생할 경우 "회사"는 "서비스"의 전부 또는 일부를 중단하거나 제한할 수 있습니다. 이와 같은 사유가 발생할 경우, "회사"는 "회원"에게 해당 내용을 알릴 수 있습니다.
<div class="subject">제15조 게시물의 권리와 책임</div>     
① 회원이 서비스 내에 작성한 텍스트, 이미지, 동영상, 링크 데이터 등의 기타 정보(이하 "게시물")에 대한 책임 및 권리는 게시물을 등록한 회원에게 있습니다.
② 회사는 회원이 작성한 정보에 대해서 감시 및 관리할 수 없으며 이에 대해서 책임지지 않습니다. 단, 회사는 회원이 게시하거나 등록하는 게시물의 내용이 다음 각 호에 해당한다고 판단되는 경우 해당 게시물을 사전통지 없이 삭제 또는 임시조치(블라인드)할 수 있습니다.
- 다른 회원 또는 제3자를 비방하거나 명예를 손상시키는 내용인 경우
- 공공질서 및 미풍양속에 위반되는 내용일 경우
- 범죄적 행위에 결부된다고 인정되는 경우
- 회사의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
- 회원이 사이트와 게시판에 음란물을 게재하거나 음란사이트를 링크하는 경우
- 회사로부터 사전 승인 받지 아니한 상업광고, 판촉 내용을 게시하는 경우
- 해당 상품과 관련 없는 내용인 경우
- 정당한 사유 없이 회사 또는 업주의 영업을 방해하는 내용을 기재하는 경우
- 자신의 업소를 홍보할 목적으로 허위 또는 과장된 게시글을 게재하는 경우
- 의미 없는 문자 및 부호에 해당하는 경우
- 제3자 등으로부터 권리침해신고가 접수된 경우
- 관계법령에 위반된다고 판단되는 경우
③ 회원은 자신이 서비스 내에 게시한 게시물을 회사가 국내ㆍ외에서 다음 목적으로 사용하는 것을 허락합니다.
- 회사에서 운영하는 사이트에 복제ㆍ전송ㆍ전시하는 것
- 회사와 제휴가 되어 있는 제3자가 운영하는 사이트에 복제ㆍ전송ㆍ전시하는 것
- 회사의 서비스를 홍보하기 위한 목적으로 포털, 미디어, 통신사 등에게 게시물의 내용을 보도, 방영하게 하는 것. 단, 이 경우 회사는 회원의 개별 동의없이 미디어, 통신사 등에게 게시물 또는 회원정보를 제공하지 않습니다.
- 위 각 호의 게시물을 사용하기 위하여 게시물의 크기를 변환, 일부 수정, 단순화하는 등의 방식으로 수정하는 것
<div class="subject">제16조 게시물의 관리</div>    
① 회원의 게시물이 정보통신망법 및 저작권법등 관련법에 위반되는 내용을 포함하는 경우, 권리자는 관련법이 정한 절차에 따라 해당 게시물의 게시 중단 및 삭제 등을 요청할 수 있으며, 회사는 관련법에 따라 조치를 취하여야 합니다.
② 회사는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 본 약관 및 기타 회사 정책, 관련법에 위반되는 경우에는 관련법에 따라 해당 게시물에 대해 임시조치 등을 취할 수 있습니다.
<div class="subject">제17조 서비스 이용의 중지 및 해지</div>   
① 회원은 회사에 언제든지 회원 탈퇴를 요청할 수 있으며 회사는 이와 같은 요청을 받았을 경우, 회사가 별도로 고지한 방법에 따라 신속하게 처리합니다.
② 회사는 회원이 본 약관 제10조의 이용자의 의무를 위반한 경우 및 서비스의 정상적인 운영을 방해한 경우에는 사전 통보 후 회원 자격을 제한, 이용계약을 해지하거나 또는 기간을 정하여 서비스의 이용을 중지할 수 있습니다.
③ 회사는 전항에도 불구하고, 저작권법 및 컴퓨터프로그램보호법을 위반한 불법프로그램의 제공 및 운영방해, 정보통신망법을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시 영구이용정지를 할 수 있습니다.
④ 회사는 회원이 계속해서 1년 이상 로그인하지 않는 경우, 회원정보의 보호 및 운영의 효율성을 위해 이용을 제한할 수 있습니다.
⑤ 회원은 본 조에 따른 이용제한 등에 대해 회사가 정한 절차에 따라 이의신청을 할 수 있습니다. 이 때 이의가 정당하다고 회사가 인정하는 경우 회사는 즉시 서비스의 이용을 재개합니다.
⑥ 본 조에 따라 이용제한이 되는 경우 서비스 이용을 통해 획득한 혜택 등도 모두 이용중단, 또는 소멸되며, 회사는 이에 대해 별도로 보상하지 않습니다.
<div class="subject">제18조 권리의 귀속</div>   
① 서비스에 대한 저작권 및 지적재산권은 회사에 귀속됩니다. 단, 회원의 게시물 및 제휴계약에 따라 제공된 저작물 등은 제외합니다.
② 회사가 제공하는 서비스의 디자인, 회사가 만든 텍스트, 스크립트(script), 그래픽, 회원 상호간 전송 기능 등 회사가 제공하는 서비스에 관련된 모든 상표, 서비스 마크, 로고 등에 관한 저작권 기타 지적재산권은 대한민국 및 외국의 법령에 기하여 회사가 보유하고 있거나 회사에게 소유권 또는 사용권이 있습니다.
③ 회원은 이 이용약관으로 인하여 서비스를 소유하거나 서비스에 관한 저작권을 보유하게 되는 것이 아니라, 회사로부터 서비스의 이용을 허락 받게 되는바, 정보취득 또는 개인용도로만 서비스를 이용할 수 있습니다.
④ 회원은 명시적으로 허락된 내용을 제외하고는 서비스를 통해 얻어지는 정보를 영리 목적으로 사용, 복사, 유통하는 것을 포함하여, 회사가 만든 텍스트, 스크립트, 그래픽의 회원 상호간 전송기능 등을 복사하거나 유통할 수 없습니다.
⑤ 회사는 서비스와 관련하여 회원에게 회사가 정한 이용조건에 따라 계정, ID, 콘텐츠 등을 이용할 수 있는 이용권만을 부여하며, 이용자는 회사를 이용함으로써 얻은 정보를 회사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 등 기타 방법에 의하여 영리 목적으로 이용하거나 제3자에게 이용, 양도, 판매, 담보목적으로 제공하여서는 안됩니다.
<div class="subject">제19조 책임제한</div>   
① 회사가 본 서비스에서 광고, 상품 가입 및 거래를 중개하는 경우, 회사는 재화 등을 판매하는 당사자가 아닙니다. 재화 등에 대한 정보 및 배송, 하자 등에 대한 책임은 판매자에게 있습니다.
② 회사는 천재지변, 전쟁, 기간통신사업자의 서비스 중지, 제3자가 제공하는 오픈 아이디의 인증 장애, 해결이 곤란한 기술적 결함 기타 불가항력으로 인하여 서비스를 제공할 수 없는 경우 책임이 면제됩니다. 또한, 회사는 사전에 공지된 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 서비스가 중지되거나 장애가 발생한 경우에 대하서는 책임이 면제됩니다.
③ 회사는 회원의 약관, 서비스 이용 방법 및 이용 기준을 준수하지 않는 등 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여는 책임을 지지 않습니다.
④ 회사는 제3자가 서비스 내 화면 또는 링크된 웹사이트를 통하여 광고한 제품 또는 서비스의 내용과 품질에 대하여 감시할 의무 기타 어떠한 책임도 지지 아니합니다.
⑤ 회사는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖의 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.
⑥ 회사는 회원간 또는 회원과 제3자 상호간에 서비스를 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.
⑦ 회사 및 회사의 임직원 그리고 대리인은 고의 또는 중대한 과실이 없는 한 다음과 같은 사항으로부터 발생하는 손해에 대해 책임을 지지 아니합니다.
- 회원 정보의 허위 또는 부정확성에 기인하는 손해
- 서비스에 대한 접속 및 서비스의 이용과정에서 회원의 귀책사유로 발생하는 손해
- 서버에 대한 제3자의 모든 불법적인 접속 또는 서버의 불법적인 이용으로부터 발생하는 손해 및 제3자의 불법적인 행위를 방지하거나 예방하는 과정에서 발생하는 손해
- 제3자가 서비스를 이용하여 불법적으로 전송, 유포하거나 또는 전송, 유포되도록 한 모든 바이러스, 스파이웨어 및 기타 악성 프로그램으로 인한 손해
- 회원 컴퓨터의 오류, 비밀번호 관리 소홀 등으로 발생하는 손해
⑧ 회사는 무료로 제공되는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.
⑨ 회사는 회원의 컴퓨터 및 스마트폰 등 서비스 이용 환경, 회사의 관리 범위에 있지 아니한 보안 문제로 인하여 발생하는 제반 문제 또는 현재의 보안기술 수준으로 방어가 곤란한 네트워크 해킹 등 회사의 귀책사유 없이 발생하는 문제에 대해서 책임을 지지 않습니다.
⑩ 회사는 서비스가 제공한 내용에 대한 중요 정보의 정확성, 내용, 완전성, 적법성, 신뢰성 등에 대하여 보증하거나 책임을 지지 않으며, 이용시 회원이 삭제, 저장실패, 잘못된 인도, 정보에 대한 제공에 대한 궁극적인 책임을 지지 않습니다. 또한, 회사는 회원이 서비스 내 게시 또는 전송한 정보, 자료, 사실의 신뢰도, 정확성, 완결성, 품질 등 내용에 대해서는 책임을 지지 않습니다.
⑪ 회사는 회원이 서비스를 이용하여 기대하는 효용을 얻지 못한 것에 대하여 책임을 지지 않으며 서비스에 대한 취사 선택 또는 이용으로 발생하는 손해 등에 대해서는 책임이 면제됩니다.
⑫ 회사는 회원의 게시물을 등록 전에 사전심사 하거나 상시적으로 게시물의 내용을 확인 또는 검토하여야 할 의무가 없으며, 그 결과에 대한 책임을 지지 않습니다.
<div class="subject">제20조 준거법 및 재판관할</div>   
① 회사와 회원 간 제기된 소송에는 대한민국법을 준거법으로 합니다.
② 회사와 회원간 발생한 분쟁에 관한 소송은 민사소송법 상의 관할법원에 제소합니다.
    </pre>
</div>
{% endblock %}