{% extends "base.html" %}
{% load humanize %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/caConsultingService.css' %}?ver=5">
<script defer src="{% static 'js/caConsultingService.js' %}?ver=5"></script>
{% endblock %}

{% block contents %}
<header>
    <div class="inner clearfix">
        <div class="left-side float-left">
            <a class="text1" href="/">영업비서</a>
            <a class="logo-box" href="/"><img src="../../static/img/logo.svg" alt="로고"></a>
        </div>
        <div class="right-side float-right">
            <a class="menu" href="/caSelect">관리자</a>
            <a class="menu" href="/caLogout">로그아웃</a>
        </div>
    </div>
</header>
<section class="section1">
    <div class="inner">
        <div class="select">
            <a href="/caCompare">비교견적 관리</a>
            <a class="on" href="/caConsulting">상담예약 관리</a>
        </div>
        <div class="content-box">
            {% for list in consulting %}
            <span class="content" onclick='consultingDetail({{ list.id }})'>
                <div class="text2">희망 시간</div>
                <div class="text3">{{ list.consultingdate }} {{ list.consultingtime }}</div>
                <div class="text2">연락 수단</div>
                <div class="text3">{{ list.selecttype }}</div>   
            </span>
            {% endfor %}
        </div>
        <div class="list-box">
            {% if consulting.has_previous %}
            <a class="page-button" href="?p={{ consulting.previous_page_number }}"><img src="../../static/img/prev_arrow.svg" alt="화살표">&nbsp이전</a>
            {% else %}
            <span class="page-button"><img src="../../static/img/prev_arrow.svg" alt="화살표">&nbsp이전</span>
            {% endif %}
            {% for page_number in consulting.paginator.page_range %}
                {% if consulting.number == consulting.paginator.num_pages|add:-1 and page_number == consulting.paginator.num_pages|add:-4 %}
                <a class="page-number" href="?p={{ page_number }}">{{ page_number }}</a>
                {% elif consulting.number == consulting.paginator.num_pages and page_number == consulting.paginator.num_pages|add:-3 or consulting.number == consulting.paginator.num_pages and page_number == consulting.paginator.num_pages|add:-4 %}
                <a class="page-number" href="?p={{ page_number }}">{{ page_number }}</a>
                {% endif %}
                {% if page_number >= consulting.number|add:-2 and page_number <= consulting.number|add:2 %}
                    {% if page_number == consulting.number %}
                    <a class="page-number current-page" href="?p={{ page_number }}">{{ page_number }}</a>
                    {% else %}
                    <a class="page-number" href="?p={{ page_number }}">{{ page_number }}</a>
                    {% endif %}
                {% endif %}
                {% if consulting.number == 1 and page_number == 4 or consulting.number == 1 and page_number == 5 %}
                <a class="page-number" href="?p={{ page_number }}">{{ page_number }}</a>
                {% elif consulting.number == 2 and page_number == 5 %}
                <a class="page-number" href="?p={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
            {% if consulting.has_next %}
            <a class="page-button" href="?p={{ consulting.next_page_number }}">다음&nbsp<img src="../../static/img/next_arrow.svg" alt="화살표"></a>
            {% else %}
            <span class="page-button">다음&nbsp<img src="../../static/img/next_arrow.svg" alt="화살표"></span>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}